@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 131 41% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 100 38% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 131 41% 46%;
    --chart-1: 131 41% 46%;
    --chart-2: 100 38% 48%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 131 41% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 100 38% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 131 41% 56%;
    --chart-1: 131 41% 56%;
    --chart-2: 100 38% 58%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .pookie {
    --background: 52 80% 95%;
    --foreground: 30 20% 15%;
    --card: 52 80% 95%;
    --card-foreground: 30 20% 15%;
    --popover: 52 80% 95%;
    --popover-foreground: 30 20% 15%;
    --primary: 196 100% 77%;
    --primary-foreground: 196 100% 10%;
    --secondary: 52 94% 78%;
    --secondary-foreground: 52 94% 10%;
    --muted: 52 94% 88%;
    --muted-foreground: 52 20% 45%;
    --accent: 28 100% 61%;
    --accent-foreground: 28 100% 10%;
    --destructive: 0 100% 67%;
    --destructive-foreground: 0 0% 98%;
    --border: 52 94% 70%;
    --input: 52 94% 70%;
    --ring: 196 100% 77%;
    --chart-1: 196 100% 77%;
    --chart-2: 28 100% 61%;
    --chart-3: 52 94% 78%;
    --chart-4: 0 100% 67%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
